header {
	background-color:#FF2028;
	height: 196px;	
	/*border-style: outset;
	border-color: #c60000;
	border-width: 5px;*/
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
}

body {
	color:black;
	background-color:#FFFFFF; /*#101010*/
	text-align: center;
	table-align: center;
	margin-left: auto;
    margin-right: auto;
	/*background-image:url("http://homepages.laas.fr/lopez/images/Jozefowiez.jpg")*/
}

.flottant{
	display:inline-block;
	float:right;
}
.sopra{
	display:inline-block;
	float:center;
}

div.absolute {
    position: absolute;
    top: 30px;
    right: 28px;
}
div.absolute1 {
    position: absolute;
    top: 100px;

}

/*nav bar*/
.nav{
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
	width: 1000px;
	position: center;
	margin-left: auto;
    margin-right: auto;
}
.nav ul {
  list-style: none;
  background-color: #FF9900;
  text-align: center;
  padding: 0;
  
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding-left: 15px;
  border-bottom: 1px solid #888;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #660000;
}

.nav a.active {
  background-color: #aaa;
  color: #444;
  cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), progress !important;
}

/* Sub Menus */
.nav li li {
  font-size: .8em;
}

/*******************************************
   Style menu for larger screens

   Using 650px (130px each * 5 items), but ems
   or other values could be used depending on other factors
********************************************/

@media screen and (min-width: 650px) {
  .nav li {
    width: 180px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
  }

  .nav a {
    border-bottom: none;
  }

  .nav > ul > li {
    text-align: center;
  }

  .nav > ul > li > a {
    padding-left: 0;
  }

  /* Sub Menus */
  .nav li ul {
    position: absolute;
    display: none;
    width: inherit;
  }

  .nav li:hover ul {
    display: block;
  }

  .nav li ul li {
    display: block;
  }
}

.profil_text {
	white-space: nowrap;
	color: red;
	display: inline;
}

/* Icons form------------------ */
.usernameTextArea {
	background-size: 15px 15px;
	background-position: 3px 1px;
	background-repeat: no-repeat;
	background-image: name.svg;
	padding-left: 20px;
}

div.div3 {
    position: absolute;
    top: 250px;
    right: 28px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto
}

.change_profil_text {
	color: black;
	white-space: nowrap;
	display: inline;
	font-size: 130%;
}

form{
    display: inline-block;
	text-align: center;
}


